.graph__heading{
    text-align: center;
    font-size: 3.2rem;
}

.line-chart{
    margin: 0 auto;
    display: block;
}

.article__link{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.6rem;
    margin-left: .5rem;
    margin-right: .5rem;
    transition: color 0.3s;
}

.article__link:hover {
    color: white;
}

.article__image{
    padding-top: 1rem;
    width: 30rem;
    padding-bottom: 1rem;

}

.stats {
    background: #D5E3F9;
    padding: 40px 0px 50px;
    margin: 50px 0px 50px;
}

.stats__heading{
    text-align: center;
}

.stats img {
    max-width: 100px;
}

h1.stats__heading  {
    margin: 10px 0px 30px;
}

h2.stats__heading  {
    font-size: 2rem;
}

.stats__row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stats__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__heading{
    text-align: center;
}

.article__row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.articles{
    margin-bottom: 4rem;
}

.article__item{
    width: 30rem;
    background-color: #A8C2EA;
    border-radius: 2.5rem;
    margin-top: 3.2rem;
    border: .3rem solid #6B9AE3;
}
.stat__text{
    font-size: 1.8rem;
}
.stats__heading{
    font-size: 2.4rem;
}

#volatility{
    max-height: 15rem;
}

.crypto{
    overflow: hidden;
    height: 9.6rem;
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 1.5rem;
}

#error-messaging {
    color: red;
}

/*Form*/


#graph__form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 20px;
}

input#date {
    background-color: #1F8CCD;
    color: white;
    font-size: 2rem;
    margin: 0px 15px;
    border: none;
}

#date__submit {
    border-radius: 15px;
    background: #A8C2EA;
    padding: 10px;
    border: .2rem solid #6B9AE3;
    transition: .4s ease all; 
}

#date__submit:hover {
    transform: scale(1.05);
    background-color: #D5E3F9;
    cursor: pointer;
}
/*Media Queries*/

@media screen and (max-width: 700px){
    .graph{
        display: none;
    }
    
}

@media screen and (max-width: 500px){
    .stats__item{
        margin-left: 4rem;
        margin-right: 4rem;
        width: 110px;
    }

