.graph__heading{
    text-align: center;
    font-size: 3.2rem;
}

.line-chart{
    margin: 0 auto;
    display: block;
}

.article__link{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.6rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.article__image{
    padding-top: 1rem;
    width: 30rem;
    padding-bottom: 1rem;

}

.stats__heading{
    text-align: center;
}

.stats__row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stats__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__heading{
    text-align: center;
}

.article__row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.articles{
    margin-bottom: 4rem;
}

.article__item{
    width: 30rem;
    background-color: #A8C2EA;
    border-radius: 2.5rem;
    margin-top: 3.2rem;
    border: .3rem solid #6B9AE3;
}
.stat__text{
    font-size: 1.8rem;
}
.stats__heading{
    font-size: 2.4rem;
}

#volatility{
    max-height: 15rem;
}

.crypto{
    overflow: hidden;
    height: 9.6rem;
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 1.5rem;
}

#error-messaging {
    color: red;
}

/*Form*/

form {
    background: #A8C2EA;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Media Queries*/

@media screen and (max-width: 700px){
    .graph{
        display: none;
    }
    
}

@media screen and (max-width: 500px){
    .stats__item{
        margin-left: 4rem;
        margin-right: 4rem;
        width: 110px;
    }
