@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
/*Colors
Primary: #1F8CCD
Secondary: #6B9AE3
Tertiary: #A8C2EA
Complementry: #302E6D
Contrast: #FFF
*/

html{
    font-size: 62.5%;
    font-family: 'Arimo', sans-serif;
}

body{
    margin: 0;
}

a {
	text-decoration: none;
    color: black;
}

/*Header */ 

.header {
    height: 98vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/brxxto-352504-unsplash.png);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 100vh;
}

.header__logo-box {
    position: absolute;
}

.header__logo {
	height: 7.6rem;
    padding-left: 1rem;
    padding-top: 1.2rem;
}
.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.heading-primary{
}

.heading-primary--main{
	letter-spacing: 11.2px;
    font-size: 8rem;
}
.heading-primary--sub{
	font-size: 2.6rem;
}

/*Ryan's Cool Button Styles*/

.btn:link, .btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	margin: 10px 0px;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s;
	position: relative;
	font-size: 2.4rem;
	color: black;
}

.btn:hover {
	transform: translateY(-0.4rem);
	box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.4);
	opacity: 0;
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn--white {
	background-color: #FFF;
	color: black;
}

.btn--white::after {
	background-color: white;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-text:link, .btn-text:visited {
	font-size: 24px;
	color: black;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding: 3px;
	transition: all .2s;
}

.btn-text:hover {
	background-color: black;
	color: white;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.btn-text:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	transform: translateY(0px);
}

.nav{
    width: 100%;
    background-color: #1F8CCD;
    height: 10rem;

}

.nav__secondaryPages{
	float: right;
	margin-top: 3px;
}

.nav__btn{
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    width: 10rem;
    background-color: #A8C2EA;
    display: inline;
    float: right;
    border-radius: 10rem;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
}

.nav__btn:hover{
	transform: scale(1.03);
	-webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.65);
	background-color: #D5E3F9;
	transition: .4s ease-in-out all;
}

.logo__image{
	height: 7.6rem;
    padding-left: 1rem;
    padding-top: 1.2rem;
}

.body__heading{
	text-align: center;
	font-size: 4.8rem;
}

/*Main Styles*/

#coin-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 9rem;
}

.coin{
	display: flex;
    flex-direction: column;
	align-items: center;
	font-size: 1.4rem;
	width: 270px	;
	margin-top: 5rem;
	background-color: #FFF;
    border-radius: 64px;
    padding-top: 2.4rem;
    padding-bottom: 1.2rem;
    color: black;
	border: .3rem solid #b30000;
	margin-left: 2.4rem;
	margin-right: 2.4rem;
	transition: .4s ease all; 
}

.coin:hover{
	transform: scale(1.05);
	-webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.65);
	background-color: #D5E3F9;
	border: .3rem solid #A8C2EA;
}

.coin-title{
	font-size: 3.2rem;
    margin: 0;
}

.coinLogos{
	height: 112px;
}

#graph__form{
	display: flex;
    flex-direction: column;
    width: 21rem;
    align-items: flex-end;
    margin-left: 4rem;
}

/*Sorting Input*/

#sorter {
	display: flex;
	justify-content: center;
	align-items: center;
} 

h3{
	font-size: 2.5rem;
}

select {
  background-color: #1F8CCD;
  color: white;
  font-size: 2.5rem;
  margin: 0px 15px;
}

#sort__form {
	display: flex;
	align-items: center;
}

#sort-submit {
	border-radius: 15px;
	background: #A8C2EA;
	padding: 10px;
	border: .2rem solid #6B9AE3;
	transition: .4s ease all; 
}

#sort-submit:hover {
	transform: scale(1.05);
	background-color: #D5E3F9;
	cursor: pointer;
}

/*Media Queries*/

@media screen and (max-width: 748px){
	html{
		font-size: 42%;
	}
	.footer__nav{
		height: 32rem;
	}

	.nav__secondaryPages{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center
	}

	.heading-primary{
		margin-top: 15rem;
	}
}